html, body {
    height: 100%;
}

body {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../assets/Monster3.png"), -webkit-radial-gradient(center, ellipse cover,#FAFAFA 0%,#F5F5F5 20%,#8FBC48 100%);
    margin: 0;
    padding: 0;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

body.dropping {
    background-image: url("../assets/Monster1.png"), -webkit-radial-gradient(center, ellipse cover,#FAFAFA 0%,#F5F5F5 20%,#D73185 100%);
}

div#pane {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.entry {
    height: 100%;
    padding: 5px;
    border: 1px solid #18A0AB;
    margin: 0 -11px 0 -1px;
    float: left;
    background-color: #F5F5F5;
    overflow: scroll;
}

span#status {
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    line-height: 100%;
    color: darkred;
}

input#reset {
    position: absolute;
    top: 20px;
    right: 20px;
}

h1 {
    position: absolute;
    top: 0;
    left: 10px;
    text-align: left;
    width: 100%;
    line-height: 120%;
    color: #000;
    letter-spacing: -0.05em;
}

h3 {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    line-height: 80%;
    color: #666;
    letter-spacing: -0.05em;
}

div.field {
    font-weight: bold;
}

div.field span {
    font-weight: normal;
}

div.flaws, div.modules {
    margin: 5px 10px;
}

div.flaw, div.module {
    margin: 2px;
    padding: 3px;
    float: left;
    background-color: #E2F9FB;
    border: 1px solid #18A0AB;
    border-radius: 5px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: -0.05em;
}

div.added {
    background-color: #ECFDD1 !important;
    border: 1px solid #8FBC48 !important;
}

div.removed {
    background-color: #FACFE5 !important;
    border: 1px solid #D73185 !important;
}

div.changed {
    background-color: #FFFED3 !important;
    border: 1px solid #FFFC00 !important;
}

div.clear {
    clear: both;
}

.plus:before {
    font-weight: normal;
    font-size: 80%;
    content: " [+] ";
}

.minus:before {
    font-weight: normal;
    font-size: 80%;
    content: " [-] ";
}
